.container{
    max-width: auto;
    margin: 0 auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 50%;
    border-radius: 0%;
}

.background-1{
    background-image: url(/img/wall.png);
    height: 100px;
}

.background-2{
    background-image: url(/img/cork.png);
}


.title{
    display: flex;
    justify-self: center;
    font-family: "Edu Tas Beginner";
}

.row{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.pin{
    max-width: 40px;
    position:absolute;
    right:8rem;
}

.card{
    position: relative;
    width: 100%;
    max-width: 18rem;
    border: none;
    box-shadow: 0 10px 20px;
    display: flex;
    justify-self: center;
    font-family: "Sometype Mono";
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  display: none; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  img{
    border: 5px solid white;
    border-radius: 5%;
  }

}